/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.teste_letra{
	position: relative;
	float: left;
}

 #salva_letra{
	position: relative;
	float: left;
 }

 canvas{
 	border: solid 2px #ccc;
 	margin-left: 500px;
 	margin-top: 100px;
 }

 * {
 	outline:none;
 	font-family: Arial;
 	font-size: 16px;
 }

 h1 {
 	height:40px;
 	color: #4da3b4;
 	font-size: 30px;
 	line-height: 40px;
 }
 h2 {
 	color:#4da3b4;
 	font-size: 20px;
 	margin-bottom: 0.33em;
 }
 h3{
 	color: #8d8d8d;;
 	font-size: 15px;
 }
 a{
 	color: #000;
 	text-decoration: none;
 	padding: 4px;
 	font-size: 14px;
 	margin: 2px;
 }

 a:visited {
    color: #666;
 }

 a:hover {
    color: #fff;
    background-color: #4da3b4;;
 }


 .inicio{
 	position: absolute;
	top: 102px;
	left: 15px;
	font-size: 14px;
 }

 .comandos{
 	position: absolute;
	top: 100px;
	left: 135px;
	font-size: 18px;
	width: 140px;
	height: 30px;
 }

 .cria_tabela{
 	font-size: 18px;
	width: 140px;
	height: 30px;
 }

 #index_tabelas td{
 	font-size: 16px;
 	border: solid 1px #ccc;
 	padding: 4px;
 }

 #index_tabelas td:hover{
 	background-color: #4da3b4
 }


 #rounded-corner
 {
 	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
 	font-size: 12px;
 	margin: 45px;
 	text-align: left;
 	border-collapse: collapse;
 }
 #rounded-corner thead th.rounded-company
 {
 	background: #b9c9fe url('table-images/left.png') left -1px no-repeat;
 }
 #rounded-corner thead th.rounded-q4
 {
 	background: #b9c9fe url('table-images/right.png') right -1px no-repeat;
 }
 #rounded-corner th
 {
 	padding: 8px;
 	font-weight: normal;
 	font-size: 13px;
 	color: #039;
 	background: #b9c9fe;
 }
 #rounded-corner td
 {
 	padding: 8px;
 	background: #e8edff;
 	border-top: 1px solid #fff;
 	color: #669;
 }
 #rounded-corner tfoot td.rounded-foot-left
 {
 	background: #e8edff url('table-images/botleft.png') left bottom no-repeat;
 }
 #rounded-corner tfoot td.rounded-foot-right
 {
 	background: #e8edff url('table-images/botright.png') right bottom no-repeat;
 }
 #rounded-corner tbody tr:hover td
 {
 	background: #d0dafd;
 }

 #tabela_salva, #resultado, #teste_tabela{
 	position: relative;
 	float: left;
 }
